@charset "UTF-8";

.table{
	border-collapse : collapse; 
	width: 100%; height: 100%; 
	line-height: 35px; 
	padding: 10px 10px 10px 50px; 
	border-top:1px solid silver;
	margin-top: 10px;
}

.content > table .tr-row:hover{
	background: #FF9090;
}

.content table tr a{
	text-decoration : none;
}

.content p{
	text-align: center;
}

.num{width: 50px; text-align: center;}
.count{width: 60px; text-align: center;}
.writer{width: 80px;}
.date{width: 90px;}
.title{width: 110px;}
.category{width:120px;}

.v{text-align: center;}

.btn{
	background: #FFDDDD;
}

